################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BobTheDiceMaster/obj
/.vs
/BobTheDiceMaster/bin/Debug/net5.0
/BobTheDiceMaster/.vs/BobTheDiceMaster
/BobTheDiceMasterWebUI/bin/Debug/net5.0
/BobTheDiceMasterWebUI/obj
/BobTheDiceMasterWebUI/Properties/PublishProfiles
/BobTheDiceMaster/bin/Debug/netstandard2.1
/BobTheDiceMasterConsoleUI/bin/Debug/net5.0
/BobTheDiceMasterConsoleUI/obj
/release
/BobTheDiceMasterWebUI/bin/Release/net5.0
/BobTheDiceMaster/bin/Release/netstandard2.1
