################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BobTheDiceMaster/obj
/.vs
/BobTheDiceMaster/bin
/BobTheDiceMaster/.vs
/BobTheDiceMasterWebUI/bin
/BobTheDiceMasterWebUI/obj
/BobTheDiceMasterWebUI/Properties/PublishProfiles
/BobTheDiceMaster/bin
/BobTheDiceMasterConsoleUI/bin
/BobTheDiceMasterConsoleUI/obj
/release
/BobTheDiceMasterWebUI/bin
/BobTheDiceMaster/bin
/BobTheDiceMaster/.vs
/BobTheDiceMasterAwsLambdaApi/src/BobTheDiceMasterAwsLambdaApi/bin
/BobTheDiceMasterAwsLambdaApi/src/BobTheDiceMasterAwsLambdaApi/obj
/HelloWorld/src/HelloWorld/.vs
/BobPrecomputer/bin/Debug/net6.0
/BobPrecomputer/obj
