################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BobTheDiceMaster/obj
/.vs
/BobTheDiceMaster/bin/Debug/net5.0
/BobTheDiceMaster/.vs/BobTheDiceMaster
/BobTheDiceMasterWebUI/bin/Debug/net5.0
/BobTheDiceMasterWebUI/obj
/BobTheDiceMasterWebUI/Properties/PublishProfiles
