@page "/bob"

<body>
    <Die Value="2" Id="die1" />
    <Die Value="2" Id="die2" />
    <Die Value="4" Id="die3" />
    <Die Value="4" Id="die4" />
    <Die Value="6" Id="die5" />
</body>

@code {

}
