<h3>CheckboxComponent</h3>

<input type="checkbox" @bind="@CheckboxValue" name="@Name" />
Checkbox value is @CheckboxValue
<br />


@code {
  [Parameter]
  public string Name { get; set; } = "Default";
  public bool CheckboxValue { get; set; }
}
