<div style="width: 36px; display: inline-block">
    <div>
        <label for="@Id" style="display:flex; justify-content:center;">
            @Value
        </label>
    </div>
    <div style="display:flex; justify-content:center">
        <div>
            <input
                   type="checkbox"
                   id="@Id"
                   @oninput="UpdateIsSelectedFromChild"/>
        </div>
    </div>
</div>

@code {
  [Parameter]
  public bool IsSelected { get; set; }
  [Parameter]
  public EventCallback<bool> IsSelectedChanged { get; set; }
  [Parameter]
  public int Value { get; set; }
  [Parameter]
  public string Id { get; set; }

  private async Task UpdateIsSelectedFromChild(ChangeEventArgs e)
  {
      await IsSelectedChanged.InvokeAsync((bool)e.Value);
  }
}
