<div style="width: 36px; display: inline-block">
    <div>
        <label for="@Id" style="display:flex; justify-content:center;">
            <img src="@diceImages[@Value - 1]">
        </label>
    </div>
    <div style="display:flex; justify-content:center">
        <div>
            <input
                   type="checkbox"
                   id="@Id"
                   @oninput="UpdateIsSelectedFromChild"
                   @bind="@IsSelected"/>
        </div>
    </div>
</div>

@code {
  [Parameter]
  public bool IsSelected { get; set; }
  [Parameter]
  public EventCallback<bool> IsSelectedChanged { get; set; }
  [Parameter]
  public int Value { get; set; }
  [Parameter]
  public string Id { get; set; }

  private string[] diceImages = new []
    {
        "./img/dieResult1.png",
        "./img/dieResult2.png",
        "./img/dieResult3.png",
        "./img/dieResult4.png",
        "./img/dieResult5.png",
        "./img/dieResult6.png"
    };

  private async Task UpdateIsSelectedFromChild(ChangeEventArgs e)
  {
      IsSelected = (bool)e.Value;
      await IsSelectedChanged.InvokeAsync((bool)e.Value);
  }
}
